body{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

.name-highlight{
    color : tomato;
}
h1{
    font-size:50px;
    font-weight: 900;
}
p{
    font-size:25px;
}
.button{
    color:white;
    font-size: 20px;
    background-color: tomato;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.half-width img{
    width: 100%;
}
h3{
    font-size: 40px;
}
.latest-project{
    text-align: center;
}
.height{
    height:900px;
}
.image{
    width: 28%;
    height: 450px;
    float: left;
    padding-left:2%;
    border-radius: 5px;
}
.image img{
    width: 100%;
}
h4{
    font-size: 30px;
}
.third{
    background-color: dimgray;
    padding-top: 20px;
    padding-bottom: 450px;
}
#gym{
    padding-left:5% ;
}
#song{
    padding-right: 5%;
}
.wrk{
    color:white;
    background-image: url(work.png);
    background-position: 25% 25%;
    background-repeat: no-repeat;
}
.work{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
    padding-bottom: 40px;
}
.work-inquiry{
    position: absolute;
    left: 10px;
}

