body{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

.name-highlight{
    color : tomato;
}
h1{
    font-size:50px;
    font-weight: 900;
}
p{
    font-size:25px;
}
.button{
    color:white;
    font-size: 20px;
    background-image: linear-gradient(45deg, tomato, red);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.half-width img{
    width: 100%;
}
h3{
    font-size: 40px;
}
.latest-project{
    text-align: center;
    padding-top:70px;
}
h4{
    font-size: 25px;
    font-weight: bold;
}
.section-1{
    height:550px;
    background-image: url(Shapes/top-banner.png);
    background-repeat: no-repeat;
}
.section-2{
    height:550px;
    background-image: url(Shapes/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.section-3{
    background-color: rgb(177, 177, 177);
    height: 700px;
}
.section-4{
    background-image: url(Shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    box-shadow: 0px 0px 20px 0px gray;
}
.image img{
    width: 100%;
}
#gym{
    width: 24%;
    margin-right:2%;
    margin-left: 6%;
    float:left;
    height:430px;
    background-color: white;
    padding-left: 2%;
    padding-top: 8px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
#tour{
    width: 24%;
    margin-left:2%;
    margin-right:2%;
    float: left;
    height: 430px;
    padding-top: 8px;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
#song{
    width: 24%;
    margin-left: 2%;
    margin-right: 6%;
    float: left;
    height: 430px;
    background-color: white;
    padding-top: 8px;
    padding-left: 2%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
.images{
    padding-top: 30px;
    width:100%
}
.work-inquiry{
    color:white;
    padding-left: 80px;
    padding-top: 70px;
    font-size:xx-large;
    font-weight:900;
    float:left;
}
.last{
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: url(Shapes/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
}
.chat-button{
   text-align:right;
   float:left;
   margin-top: 96px;
   margin-left: 400px;
}
.about-div{
    padding-right: 20px;
}
.final-part{
    text-align: center;
}
.final-img1{
    width: 50px;
    padding-right: 20px;
}
.final-img2{
    width: 50px;
    padding-right: 20px;
}
.final-img3{
    width: 50px;
}
.project-button{
    text-align: center;
    margin-left: 95px;
    color:white;
    font-size: 20px;
    background-image: linear-gradient(45deg, grey, black);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.project-button1{
    text-align: center;
    margin-left: 100px;
    color:white;
    font-size: 20px;
    background-image: linear-gradient(45deg, grey, black);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.starting{
    width:10%;
    float:right;
}
.starting-button{
    text-decoration: none;
    color:black;
}